{% load staticfiles %}
<html>
    <head>
        <title>Test Dash</title>
        <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/foundation/6.2.3/foundation.min.css">
        <link rel="stylesheet" href="{% static 'css/dash.css' %}">
    </head>
    <body>
    <div class="wrapper">
        <div class="row">
            <div class="small-2 columns"><a href="/">Home</a></div>
            <div class="large-12 small-12 columns">
                <h1>Dashboard</h1>
            </div>
    </div>

    </body>
    <script src="https://code.jquery.com/jquery-3.0.0.min.js" integrity="sha256-JmvOoLtYsmqlsWxa7mDSLMwa6dZ9rrIdtrrVYRnDRH0=" crossorigin="anonymous"></script>
{#    <script src="{% static 'js/ajax.js' %}"></script>#}
{#    <script src="{% static 'js/main.js' %}"></script>#}

</html>
