@import url(https://fonts.googleapis.com/css?family=Open+Sans:400,700);

.wrapper{
    margin-left: auto;
	margin-right: auto;
    padding-top:5em;
}

.row{
    max-width: 90%;
}
th{
    font-family: 'Open Sans', sans-serif;
    font-weight: 400;
    font-size: 1.8em;
    color:white;
}

table tfoot td, table tfoot th, table thead td, table thead th {
    padding: 1rem 1rem 1rem;
    font-weight: 400;
    text-align: left;
}

table tbody, table tfoot, table thead {
    border: 1px solid #f1f1f1;
    background-color: black;
}

table tbody tr:nth-child(even), table tbody tr {
    background-color: #fff;
    border: 1px solid #f1f1f1;
    font-family: 'Montserrat', sans-serif;
    font-size: 1.4em;
    color: #666666;
}

tbody tr:hover, tr:nth-child(even):hover{
    background-color:#f5f5f5
}

.day-search h3{
    text-align: center;
    background-color: black;
    color:white;
    font-size: 1.8em;
}

tr.clickable-row { cursor: pointer; }